.navbar {
  padding: 0.9rem;
  background-color: var(--color-main);
  color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  background-color: inherit;
  border: none;
  color: #fff;
  padding: 0.5rem;
}
